# Set C++ standard to C++17
build --cxxopt="-std=c++17"

# Use colored g++ error messages
build --copt=-fdiagnostics-color=always
run --copt=-fdiagnostics-color=always
test --copt=-fdiagnostics-color=always
