# Set C++ standard to C++14
build --cxxopt="-std=c++14"

# Use colored g++ error messages
build --copt=-fdiagnostics-color=always
run --copt=-fdiagnostics-color=always
test --copt=-fdiagnostics-color=always
